.advantages__title {
  color: $color-title;
  font-size: 18px;
  line-height: 1.44;
  margin: 0;
  padding: 34px 25px 35px;
}

.advantages__description {
  margin: 0;
  padding: 0 18px 33px 18px;
}

.advantages--ladder {
  position: relative;
}

.advantages--ladder::before {
  position: absolute;
  content: "";
  background: url(../img/mobile/ladder.svg) no-repeat center;
  width: 768px;
  height: 37px;
  bottom: -39px;
  right: 50%;
  transform: translate(50%,-50%);
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin: auto;
    padding: 48px 82px 0;
    font-size: 21px;
    line-height: 1.24;
  }

  .advantages--ladder::before {
    display: none;
  }

  .advantages__description {
    padding-top: 30px;
    margin: 0;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    padding: 61px 317px 0 312px;
  }

  .advantages__description {
    padding-bottom: 44px;
    padding-top: 27px;
  }
}
