.location__map {
  margin-top: 49px;
  width: 100%;
  max-width: 1200px;
  height: 350px;
}

.location__map-nojs {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .location__map {
    margin-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .location__map {
    margin-top: 67px;
  }
}
