.main-nav {
  position: relative;
}

.main-nav__list {
  max-height: 223px;
  padding: 0px;
  background-color: $environment-background;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  right: 20px;
  z-index: 2;
  top: 17px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: $transparent;
}

.main-nav--closed .main-nav__closed {
  display: none;
}

.main-nav__opened:hover,
.main-nav__closed:hover {
  opacity: 60%;
}

.main-nav__opened:active,
.main-nav__closed:active {
  opacity: 30%;
}

.main-nav--opened .site-list__item:last-child::before {
  content: "";
  position: absolute;
  top: 212px;
  left: 0;
  z-index: 2;
  width: 120vw;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .site-list__item:last-child::before {
    display: none;
  }

  .main-nav__list {
    background-color: $background-main;
    display: flex;
    justify-content: space-between;
    min-height: 56px;
    top: 0;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .main-nav--opened .site-list__item:last-child::before {
    display: none;
  }
}
