.main-nav__list {
  background-color: $environment-background;
  min-height: 223px;
  display: none;
  padding: 0px;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    background-color: $background-main;
    display: flex;
    min-height: 56px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    background-color: $background-main;
    display: flex;
    min-height: 56px;
    margin: 0;
    padding: 0;
  }
}
