.page-header__logo-image {
  height: 56px;
  top: 0;
  right: calc(50% - 185px / 2);
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .page-header__nav {
    position: relative;
  }

  .page-header__logo-image {
    position: absolute;
    top: 0px;
  }
}
