.page__content {
  width: 320px;
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-color: $background-main;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

@media (min-width: $tablet-width) {
  .page__content {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page__content {
    width: 1200px;
    margin: 0 auto;
  }
}
