.page-footer__hashtag {
  color: $color-title;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
  margin-top: 36px;
  margin-bottom: 30px;
}

.page-footer__academy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-footer__HTML-academy {
  color: $color-title;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.page-footer__HTML-academy:hover,
.page-footer__social-academy:hover {
  color: $environment-background;
}

.page-footer__HTML-academy:active,
.page-footer__social-academy:active {
  color: #b3b3b3;
}

@media (min-width: $tablet-width) {
  .page-footer__connection {
    display: flex;
    justify-content: space-between;
    min-height: 116px;
  }

  .page-footer__hashtag {
    margin-left: 60px;
    margin-top: 23px;
    align-self: center;
  }

  .page-footer__academy {
    margin-right: 60px;
    margin-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__connection {
    min-height: 120px;
  }

  .page-footer__hashtag {
    margin-left: 120px;
  }

  .page-footer__academy {
    margin-right: 120px;
    margin-bottom: 10px;
  }
}
