.page-header__logo-image {
  height: 56px;
}

@media (min-width: 768px) {
  .page-header__nav {
    position: relative;
  }
  .page-header__logo-image {
    position: absolute;
    top: 0px;
    right: 291.5px;
  }
}

@media (min-width: 1200px) {
  .page-header__nav {
    position: relative;
  }
  .page-header__logo-image {
    position: absolute;
    top: 0px;
    right: 507.5px;
  }
}
