.page-footer__hashtag {
  color: $color-title;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
  margin-top: 41px;
  margin-bottom: 30px;
}

.page-footer__academy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__HTML-academy {
  color: $color-title;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.page-footer__HTML-academy {
  color: $color-title;
}

@media (min-width: $tablet-width) {
  .page-footer__connection {
    display: flex;
    justify-content: space-between;
    min-height: 116px;
  }

  .page-footer__hashtag {
    margin-left: 60px;
    align-self: center;
  }

  .page-footer__academy {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__connection {
    min-height: 120px;
  }

  .page-footer__hashtag {
    margin-left: 120px;
  }

  .page-footer__academy {
    margin-right: 120px;
  }
}
