.page-footer__hashtag {
  color: $bg-title;
  size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 41px;
  margin-bottom: 30px;
}

.page-footer__academy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright {
  color: $bg-title;
  margin-right: 12px;
}
