.page-wrapper__chapter {
  background: url("../img/mobile/back-mobile.jpg") no-repeat;
  background-color: $environment-background;
  min-height: 389px;
  padding-top: 40px;
}

.page-wrapper__chapter::before {
  position: absolute;
  content: "";
  background-image: url("../img/mobile/zig-zag.svg");
  width: 1200px;
  height: 57px;
  top: 617px;
  left: 224px;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-wrapper__chapter {
    background: url("../img/tablet/back-tablet.jpg") no-repeat;
    background-color: $environment-background;
    min-height: 518px;
  }
}


@media (min-resolution: 2dppx) {
  .page-wrapper__chapter {
    background-image: url("../img/tablet/back-tablet@2x.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1200px) {
  .page-wrapper__chapter {
    background: url("../img/desktop/back-desktop.jpg") no-repeat;
    background-color: $environment-background;
    background-size: cover;
  }
}
