.site-list__item {
  list-style: none;
  width: 320px;
  height: 55px;
  margin: 0px;
  padding: 0px;
}

.site-list__link {
  position: relative;
  display: block;
  color: $color-main;
  size: 18px;
  line-height: 1.44;
  text-decoration: none;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 12px;
  text-transform: uppercase;
  border-top: 1px solid #9AC2DB;
  border-bottom: 1px solid #678FA8;
}

.site-list__link:last-child {
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .site-list__link {
    color: $color-title;
    size: 14px;
    line-height: 1.50;
    border: none;
  }

  .site-list__link--current {
    color: #766357;
  }

  .site-list__item {
    width: 153px;
    border: none;
  }

  .site-list__item:nth-child(2n+2) {
    margin-right: 156px;
  }

  .site-list__item:nth-child(n+4) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .site-list__link {
    color: $color-title;
    size: 14px;
    line-height: 1.50;
    border: none;
  }

  .site-list__link--current {
    color: #766357;
  }

  .site-list__item {
    width: 240px;
    border: none;
  }

  .site-list__item:nth-child(2n+2) {
    margin-right: 240px;
  }

  .site-list__item:nth-child(n+4) {
    margin-right: 0;
  }
}
