.site-list__item {
  list-style: none;
  min-width: 320px;
  height: 55px;
  margin: 0;
  padding: 0;
}

.site-list__link {
  position: relative;
  display: block;
  color: $color-main;
  font-size: 18px;
  line-height: 1.44;
  text-decoration: none;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 12px;
  text-transform: uppercase;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.site-list__link:hover {
  background-color: #669ec0;
}

.site-list__link:active {
  background-color: #5496bd;
  opacity: 30%;
}

.site-list__link:last-child {
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .site-list__link {
    color: $color-title;
    font-size: 14px;
    line-height: 1.5;
    border: none;
  }

  .site-list__link--current {
    color: #766357;
  }

  .site-list__item {
    min-width: 153px;
    border: none;
  }

  .site-list__item:nth-child(1) {
    grid-column: 1/2;
  }

  .site-list__item:nth-child(3) {
    grid-column: 4/5;
  }

  .site-list__item:nth-child(4) {
    grid-column: 5/6;
  }

  .site-list__item:nth-child(7) {
    grid-column: 4/5;
  }
}
