.social__list {
  list-style: none;
  width: 156px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-top: 36px;
}

.social__item {
  margin-right: 6px;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-left: 0;
  }
}
