.social__list {
  list-style: none;
  width: 156px;
  display: flex;
  margin-bottom: 30px;
  margin-left: 82px;
  padding: 0px;
}
.social__item {
  justify-content: space-betweens;
  margin-right: 6px;
}
