.story__item {
  list-style: none;
  display: inline-block;
  position: relative;
}

.story__item:nth-child(n+6) {
  min-height: 165px;
  background-color: $background-item;
}

.story__highlights-title {
  color: $color-main;
  padding-top: 54px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 1.44;
  margin: 0;
}

.story__highlights-numbering {
  color: $color-main;
  padding-bottom: 17px;
  margin: 0;
}

.story__highlights-description {
  color: $color-main;
  padding-bottom: 37px;
  margin: 0;
}

.story__highlights-img,
.story__preeminence-item {
  background-color: $environment-background;
  list-style: none;
  height: 256px;
}

.story__preeminence-img,
.story__highlights-item {
  background-color: $environment-background;
  list-style: none;
  height: 256px;
}

.story__img {
  width: 100%;
  height: 260px;
}

.story__preeminence-title {
  color: $color-main;
  padding-top: 37px;
  margin-top: 46px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.44;
}

.story__preeminence-numbering {
  color: $color-main;
  margin-bottom: 17px;
}

.story__preeminence-description {
  color: $color-main;
  margin-bottom: 37px;
}

.story__numbering {
  margin: 0;
}

.story__list {
  outline: $outline;
  margin: 0px;
  padding: 0px;
  background-color: $background-main;
  display: flex;
  flex-direction: column;
}

.story__items {
  margin: 0px;
  padding: 0px;
}

.story__title {
  color: $color-title;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  padding-top: 31px;
  padding-bottom: 16px;
  text-align: start;
  padding-left: 47px;
  margin: 0;
}

.story__description {
  text-align: start;
  padding-left: 47px;
}

.story__title-rank {
  color: $color-title;
  font-size: 18px;
  line-height: 1.44;
  padding-top: 24px;
}

.story__description-rank {
  padding: 20px 18px 49px 18px;
  border-bottom: 1px solid #d6d6d6;
}

.story__piece {
  padding: 0 18px;
  margin: 0;
  position: relative;
}

.story__benefit {
  padding: 0 18px;
}

.story__item--house {
  &::after {
    content: "";
    mask-image: url("../img/mobile/icon/icon-house.svg");
    position: absolute;
    width: 40px;
    height: 38px;
    background-color: $environment-background;
    top: 23px;
    left: 18px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.story__item--burger {
  &::after {
    content: "";
    mask-image: url("../img/mobile/icon/icon-burger.svg");
    position: absolute;
    width: 40px;
    height: 36px;
    background-color: $environment-background;
    top: 23px;
    left: 18px;
    background-repeat: no-repeat;
  }
}

.story__item--gift {
  &::after {
    content: "";
    mask-image: url("../img/mobile/icon/icon-gift.svg");
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $environment-background;
    top: 23px;
    left: 18px;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .story__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 768px;
  }

  .story__piece {
    padding: 0 18px;
  }

  .story__highlights-item {
    grid-column: 1/2;
    height: 256px;
  }

  .story__highlights-img {
    grid-column: 2/4;

  }

  .story__highlights-img img {
    width: 100%;
    height: 256px;
  }

  .story__preeminence-item {
    grid-column: 3/4;
    min-height: 256px;
  }

  .story__preeminence-img {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .story__preeminence-img img {
    width: 100%;
    height: 256px;
  }

  .story__title {
    text-align: center;
    padding: 0;
    margin-top: 158px;
  }

  .story__description {
    text-align: center;
    padding: 0;
  }

  .story__description-rank {
    border: none;
  }

  .story__description-last {
    padding: 20px 18px 49px 18px;
  }

  .story__item--house,
  .story__item--burger,
  .story__item--gift {
    min-height: 331px;
  }

  .story__item--burger {
    &::after {
      mask-repeat: no-repeat;
      width: 77px;
      height: 77px;
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .story__item--gift {
    &::after {
      mask-repeat: no-repeat;
      width: 77px;
      height: 77px;
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .story__item--house {
    &::after {
      mask-repeat: no-repeat;
      width: 77px;
      height: 77px;
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .story__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
  }

  .story__highlights-item {
    grid-column: 1/2;
    min-height: 256px;
  }

  .story__highlights-img {
    grid-column: 2/4;
  }

  .story__preeminence-item {
    grid-column: 3/4;
    min-height: 256px;
  }

  .story__preeminence-img {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .story__title {
    text-align: center;
    padding: 0;
  }

  .story__description {
    text-align: center;
    padding: 0;
  }

  .story__item {
    min-height: 330px;
  }

  .story__item:nth-child(n+4) {
    min-height: 256px;
  }

  .story__highlights-title {
    padding: 40px 140px 20px;
    margin: 0;
  }


  .story__highlights-numbering {
    margin: 0;
    padding: 0;
  }


  .story__highlights-description {
    padding: 30px 50px 55px;
    margin: 0;
  }


  .story__highlights-description:nth-child(n+2) {
    padding: 0 50px 69px;
  }


  .story__description {
    padding: 0 50px 69px;
  }


  .story__preeminence-title {
    padding: 52px 60px 22px;
    margin: 0;
  }


  .story__preeminence-numbering {
    margin: 0;
  }


  .story__preeminence-description {
    padding: 33px 90px 55px;
    margin: 0;
  }

  .story__title-rank {
    padding: 60px 140px 22px;
    margin: 0;
  }

  .story__description-rank {
    padding: 35px 50px 57px;
    border: none;
  }

  .story__description-last {
    padding: 35px 50px 57px;
  }
}
