*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #333333;
  background-color: #ffffff;
  min-width: 320px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  size: 14px;
  line-height: 21px;
}
