*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  min-height: 100vh;
  color: $color-paragraph;
  background-color: $background-contain;
  min-width: 320px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.50;
  margin: 0 auto;
}
