*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: $color-paragraph;
  background-color: $background-main;
  min-width: 320px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  size: 14px;
  line-height: 1.50;
}
