// font

$font: "PT Sans", sans-serif;

// colors

$bg-main: #ffffff;

$bg-title: #000000;

$bg-paragraph: #333333;

// background

$background: #81b3d2;

$background-main: #ffffff;

// outline

$outline: 2px solid #40106f;
