// font

$font: "PT Sans", sans-serif;

// colors

$color-main: #ffffff;

$color-title: #000000;

$color-paragraph: #333333;

// background

$environment-background: #81b3d2;

$background-main: #ffffff;

// outline

$outline: 2px solid #40106f;
