// font

$font: "PT Sans", sans-serif;

// colors

$color-main: #ffffff;

$color-title: #000000;

$color-paragraph: #333333;

// background

$background-contain: #e7e5e5;

$environment-background: #81b3d2;

$background-main: #ffffff;

$background-item: #eeeeee;

$background-cards: #F2F2F2;

$background-cards-north: #eaeaea;

$transparent: transparent;

// outline

$outline: 2px solid #40106f;

// Viewports

$tablet-width: 768px;

$desktop-width: 1200px;

$mobile-width-only: 767px;
