.cards__list {
  outline: $outline;
  margin: 0px;
  padding: 0 18px;
}

.cards__item {
  list-style: none;
  margin-top: 50px;
}

.cards__title {
  color: $color-title;
  font-size: 14px;
  line-height: 1.50;
  font-weight: 700;
  text-align: start;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 11px;
}

.cards__creator {
  text-align: start;
  margin: 0;
}

.cards__block {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 26px;
  margin: 0;
  padding-top: 11px;
}

.cards__link-text {
  color: $color-title;
  font-size: 14px;
  line-height: 1.50;
  font-weight: 700;
  margin-left: 14px;
}

.cards__images {
  height: 280px;
  width: 100%;
}

.cards__like {
  cursor: pointer;
}

.cards__folder {
  margin-top: -5px;
}

@media (min-width: $tablet-width) {
  .cards__list {
    padding: 0 60px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards__folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6px;
    height: 80px;
  }

  .cards__like {
    margin-top: 10px;
  }
  .cards__link-text {
    margin-top: 32px;
  }

  .cards__block {
    margin-bottom: 22px;
    margin-right: 15px;
  }

  .cards__item {
    background-color: $background-cards;
    margin: 0;
    position: relative;
    height: 347px;
  }

  .cards__item img {
    max-width: 100%;
    width: 100%;
    height: 267px;
  }

  .cards__item--big img {
    height: 400px;
  }

  .cards__item:first-child {
    grid-column: 1/3;
    height: 480px;
  }

  .cards__item:nth-child(3n) {
    background-color: $background-cards-north;
  }

  .cards__title {
    padding-left: 20px;
    padding-top: 22px;
    margin: 0;
  }

  .cards__creator {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .cards__list {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .cards__item {
    height: 267px;
  }

  .cards__item:first-child {
    grid-column: 1/4;
    height: 400px;
  }

  .cards__block {
    top: 28px;
    right: 25px;
  }

  .cards__title {
    color: $color-main;
  }

  .cards__creator {
    color: $color-main;
  }

  .cards__link-text {
    color: $color-main;
  }

  .cards__like {
    fill: $color-main;
    opacity: 1;
  }

  .cards__folder {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 80px;
    background-color: rgba(0, 0, 0, 30%);
  }

  .cards__folder--big {
    width: 1200px;
  }
}
