.cards__list {
  outline: $outline;
  margin: 0px;
  padding: 0 18px;
}

.cards__item {
  list-style: none;
  margin-top: 25px;
}

.cards__title {
  color: $color-title;
  font-size: 14px;
  line-height: 1.50;
  font-weight: 700;
  text-align: start;
  margin-top: 15px;
  margin-bottom: 12px;
}

.cards__creator {
  text-align: start;
}

.cards__block {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 26px;
}

.cards__link-text {
  color: $color-title;
  font-size: 14px;
  line-height: 1.50;
  font-weight: 700;
  margin-left: 14px;
}

@media (min-width: $tablet-width) {
  .cards__list {
    padding: 0 60px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards__block {
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 27px;
  }

  .cards__item {
    background-color: $background-cards;
    margin: 0;
    position: relative;
  }

  .cards__item img {
    max-width: 100%;
    width: 100%;
    height: 267px;
  }

  .cards__item--big img {
    height: 400px;
  }

  .cards__item:first-child {
    grid-column: 1/3;
  }

  .cards__item:nth-child(3n) {
    background-color: $background-cards-north;
  }

  .cards__title {
    margin-left: 20px;
    margin-bottom: 12px;
  }

  .cards__creator {
    margin: 0;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cards__list {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .cards__item:first-child {
    grid-column: 1/4;
  }

  .cards__creator-blok {
    position: absolute;
    left: 20px;
    bottom: 17px;
  }

  .cards__title {
    color: $color-main;
  }

  .cards__creator {
    color: $color-main;
  }

  .cards__link-text {
    color: $color-main;
  }

  .cards__like {
    fill: $color-main;
    opacity: 1;
  }
}
