.cards__list {
  outline: $outline;
  margin: 0px;
  padding: 0 18px;
}

.cards__item {
  list-style: none;
  margin-top: 25px;
}

.cards__title {
  color: $color-title;
  size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: start;
  margin-top: 15px;
  margin-bottom: 12px;
}

.cards__creator {
  text-align: start;
}

.cards__block {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 26px;
}

.cards__link-text {
  color: $color-title;
  size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin-left: 14px;
}

@media (min-width: 768px) {
  .cards__list {
    padding: 0 60px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 324px 324px;
  }

  .cards__item {
    background-color: $background-cards;
    margin: 0;
  }

  .cards__item:first-child {
    grid-column: 1/3;
  }

  .cards__item:nth-child(3n) {
    background-color: $background-cards-north;
  }
}

@media (min-width: 1200px) {
  .cards__list {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }

  .cards__item {
    background-color: $background-cards;
    margin: 0;
  }

  .cards__item:first-child {
    grid-column: 1/4;
  }

  .cards__item:nth-child(3n) {
    background-color: $background-cards-north;
  }
}
