.intro__title {
  color: $color-title;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  margin-top: 39px;
  margin-bottom: 25px;
}

.intro__description {
  font-size: 14px;
  line-height: 1.50;
}

.intro__piece {
  padding: 0 18px;
}

@media (min-width: $tablet-width) {
  .intro__description {
    padding: 0 145px 80px;
    margin: 0;
  }

  .intro__title {
    font-size: 30px;
    line-height: 0.87;
    margin-top: 66px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .intro__title {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .intro__description {
    padding: 1px 365px 91px;
    margin: 0;
  }
}
