.intro__title {
  color: $color-title;
  size: 18px;
  line-height: 1.44;
  font-weight: 700;
  margin-top: 66px;
  margin-bottom: 45px;
}

.intro__description {
  size: 14px;
  line-height: 1.50;
}

.intro__piece {
  padding: 0 18px;
}
