.view__title {
  color: $color-title;
  size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 50px;
}

.view__description {
  margin-top: 38px;
  margin-bottom: 38px;
}

.view__piece {
  padding: 0 18px;
}
