.welcome__backdrop {
  background: url("../img/mobile/back-desktop.jpg") no-repeat;
  background-color: $environment-background;
}

.welcome__backdrop-form {
  background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom center;
  background-size: 923px 410px;
  background-color: $environment-background;
  min-height: 159px;
}

.welcome__image {
  margin-top: 52px;
  margin-bottom: 67px;
}

@media (min-width: $tablet-width) {
  .welcome__backdrop {
    background: url("../img/tablet/back-main.jpg") no-repeat;
    background-color: $environment-background;
    min-height: 290px;
  }

  .welcome__image {
    margin: 108px 0 0;
    width: 457px;
    height: 78px;
  }
}

  @media (min-resolution: 2dppx) {
    .welcome__backdrop {
      background-image: url("../img/tablet/back-desktop@2x.jpg");
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    .welcome__backdrop {
      background-size: cover;
      min-height: 518px;
    }
  }

  @media (min-width: $tablet-width) {
    .welcome__backdrop-form {
      background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom;
      background-color: $environment-background;
      min-height: 357px;
    }
  }

  @media (min-width: $desktop-width) {
    .welcome__backdrop-form {
      background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom;
      background-color: $environment-background;
      min-height: 357px;
    }
  }
