.welcome__backdrop {
  background: url("../img/mobile/back-desktop.jpg") no-repeat;
  background-color: $environment-background;
  position: relative;
}

.welcome__backdrop-form {
  background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom center;
  background-size: 923px 410px;
  background-color: $environment-background;
  min-height: 159px;
  position: relative;
}

.welcome__image {
  margin-top: 52px;
  margin-bottom: 67px;
}

.welcome__backdrop::before {
  position: absolute;
  content: "";
  background-image: url("../img/mobile/zig-zag.svg");
  width: 1200px;
  height: 57px;
  top: 136px;
  right: 50%;
  transform: translate(50%, -50%);
  background-repeat: no-repeat;
}

.main__nav--closed .welcome__backdrop::before {
  top: 1px;

}

@media (min-width: $tablet-width) {
  .welcome__backdrop {
    background: url("../img/tablet/back-main.jpg") no-repeat;
    background-color: $environment-background;
    min-height: 290px;
  }

  .welcome__backdrop::before {
    top: 263px;
  }

  .welcome__image {
    margin: 108px 0 0;
    width: 457px;
    height: 78px;
  }
}

  @media (min-resolution: 2dppx) {
    .welcome__backdrop {
      background-image: url("../img/tablet/back-desktop@2x.jpg");
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    .welcome__backdrop {
      background-size: cover;
      min-height: 518px;
    }

    .welcome__backdrop::before {
      top: 490px;
    }
  }

  .welcome__backdrop-form::before {
    position: absolute;
    content: "";
    background-image: url("../img/mobile/zig-zag.svg");
    width: 1200px;
    height: 57px;
    top: 136px;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    .welcome__backdrop-form {
      background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom;
      background-color: $environment-background;
      min-height: 357px;
    }

    .welcome__backdrop-form::before {
      top: 329px;
    }
  }

  @media (min-width: $desktop-width) {
    .welcome__backdrop-form {
      background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom;
      background-color: $environment-background;
      min-height: 357px;
    }
  }
