.welcome__backdrop {
  background: url("../img/desktop/back-desktop.jpg") no-repeat bottom center;
  background-color: $environment-background;
  position: relative;
  height: 157px;
  background-size: 904px 388px;
}

.welcome__backdrop-form {
  background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom center;
  background-size: 905px 388px;
  background-color: $environment-background;
  min-height: 158px;
  position: relative;
}

.welcome__image {
  margin-top: 52px;
}

.welcome__backdrop::before {
  position: absolute;
  content: "";
  background-image: url("../img/mobile/zig-zag.svg");
  width: 1200px;
  height: 57px;
  top: 129px;
  right: 50%;
  transform: translate(50%, -50%);
  background-repeat: no-repeat;
}

.main__nav--closed .welcome__backdrop::before {
  top: 1px;
}

@media (min-width: $tablet-width) {
  .welcome__backdrop {
    background: url("../img/desktop/back-desktop.jpg") no-repeat bottom center;
    background-color: $environment-background;
    min-height: 290px;
    background-size: 1200px auto;
  }

  .welcome__backdrop::before {
    top: 263px;
  }

  .welcome__image {
    margin: 94px 0 0;
    width: 457px;
    height: 78px;
  }
}

@media (min-resolution: 2dppx) {
  .welcome__backdrop {
    background-image: url("../img/desktop/back-desktop@2x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .welcome__backdrop {
    background-image: url("../img/desktop/back-desktop.jpg");
    background-size: cover;
    min-height: 300px;
  }

  .welcome__image {
    margin-top: 103px;
  }

  .welcome__backdrop::before {
    top: 273px;
  }
}

.welcome__backdrop-form::before {
  position: absolute;
  content: "";
  background-image: url("../img/mobile/zig-zag.svg");
  width: 1200px;
  height: 57px;
  top: 130px;
  right: 50%;
  transform: translate(50%, -50%);
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .welcome__backdrop-form {
    background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom;
    background-color: $environment-background;
    min-height: 290px;
  }

  .welcome__backdrop-form::before {
    top: 262px;
  }
}

@media (min-width: $desktop-width) {
  .welcome__backdrop-form {
    background: url("../img/desktop/back-desktop-form.jpg") no-repeat bottom;
    background-color: $environment-background;
    min-height: 301px;
  }

  .welcome__backdrop-form::before {
    top: 274px;
  }
}
