.choice__item {
  padding-bottom: 16px;
  padding-top: 21px;
  position: relative;
  display: block;
}

.choice__list {
  padding: 0;
  margin-top: 9px;
}

@media (min-width: $tablet-width) {
  .choice__list {
    display: grid;
    min-width: 648px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-bottom: 7px;
  }

  .choice__item {
    margin-left: 84px;
  }

  .choice__item:nth-child(2n) {
    margin-left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .choice__list {
    width: 960px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
  }

  .choice__item:first-child {
    margin-left: 44px;
  }

  .choice__item:nth-child(2) {
    margin-left: 41px;
  }

  .choice__item:last-child {
    margin-left: 12px;
  }

  .choice__item {
    margin-left: 35px;
  }
}
