.control__label {
  color: $color-title;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-transform: none;
  margin-left: 62px;
}

.control__input[type="radio"] + .control__mark {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.control__input:focus + .control__mark {
  outline: 3px solid #21c8e2;
}

.control__input[type="radio"] + .control__mark:hover {
  background-color: #e5e5e5;
}

.control__input[type="checkbox"]:checked + .control__mark:hover {
  background-color: #e5e5e5;
}

.control__mark:hover {
  background-color: #e5e5e5;
}

.control__input[type="radio"] + .control__mark:active {
  background-color: #d5d5d5;
}

.control__input[type="checkbox"]:checked + .control__mark:active {
  background-color: #d5d5d5;
}

.control__mark:active {
  &::before {
    opacity: 30%;
  }
}

.control__input:disabled + .control__mark {
  color: rgb(245, 240, 240);
}

.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: $color-paragraph;
  border-radius: 50%;
}

.control__mark {
  position: absolute;
  left: 0;
  top: 10px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: $background-cards;
  cursor: pointer;
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-image: url("../img/mobile/tick.svg");
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
