.data__section {
  text-align: start;
  margin-bottom: 64px;
}

.data__title-legend {
  text-align: center;
  size: 18px;
  line-height: 1.44;
  font-weight: 700;
}

.data__input {
  size: 18px;
  line-height: 1.44;
  font-weight: 700;
}

.data__title {
  size: 14px;
}

.data__feedback {
  margin-bottom: 64px;
  text-align: start;
}

@media (min-width: $tablet-width) {
  .data__container {
    padding: 0 60px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 324px 324px;
  }

  .data__section {
    grid-column: 1/2;
  }

  .data__feedback:nth-child(n+3) {
    grid-column: 1/3;
  }
}

@media (min-width: 1200px) {
  .data__container {
    padding: 0 120px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 480px 480px;
  }

  .data__section {
    grid-column: 1/2;
  }

  .data__feedback:nth-child(n+3) {
    grid-column: 1/3;
  }
}
