.data__section {
  text-align: start;
  margin-bottom: 64px;
  padding-left: 18px;
}

.data__title-legend {
  text-align: center;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  margin-bottom: 30px;
}

.data__input {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  margin-bottom: 16px;
  background-color: $background-cards;
  border: none;
  width: 280px;
  height: 58px;
}

.data__feedback input[type=email],
.data__section input[type=text],
.data__feedback input[type=tel] {
  background-color: $background-cards;
  border: none;
}

.data__section input[type=text]::placeholder {
  color: $color-title;
}

.data__title {
  display: flex;
  font-size: 14px;
}

.data__feedback {
  margin-bottom: 64px;
  text-align: start;
  padding-left: 18px;
}

.data__btn {
  font-size: 21px;
  line-height: 1.24;
  width: 280px;
  height: 58px;
  color: $color-main;
  background-color: $environment-background;
  border: none;
}

.data__send {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
  opacity: 60%;
}

.data__textbox-input {
  width: 279px;
  min-height: 150px;
  background-color: $background-cards;
  border: none;
  padding: 0;
}

.data__textbox-input::placeholder {
  font-size: 18px;
  line-height: 1.44;
  opacity: 30%;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .data__container {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .data__section {
    grid-column: 1/2;
    padding-left: 0;
  }

  .data__feedback:nth-child(n+3) {
    grid-column: 1/3;
  }

  .data__feedback {
    position: relative;
    padding: 0;
  }

  .data__send {
    position: absolute;
    right: 0;
    top: 28px;
  }

  .data__textbox-input {
    width: 648px;
    min-height: 160px;
  }

  .data__input {
    width: 295px;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .data__container {
    padding: 0 120px;
  }

  .data__textbox-input {
    width: 768px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .data__feedback:nth-child(n+3) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
