.data__section {
  text-align: start;
  margin-bottom: 64px;
}

.data__title-legend {
  text-align: center;
  size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.data__input {
  size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.data__title {
  size: 14px;
}

.data__feedback {
  margin-bottom: 64px;
  text-align: start;
}
