.handset__feedback {
  text-align: center;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  margin-bottom: 33px;
  position: relative;
}

.handset__subscribe-title {
  display: flex;
  margin-left: 20px;
}

.handset__feedback::after {
  content: "";
  position: absolute;
  width: 350vw;
  height: 1px;
  background-color: $border;
  right: -270px;
  top: -24px;
}

.handset__subscribe-title {
  display: flex;
  margin-left: 20px;
}

.handset__subscribe-input-email {
  display: flex;
  width: 100%;
  height: 58px;
  padding-right: 58px;
  padding-left: 16px;
  margin-right: 0;
  margin-bottom: 16px;
  background: url("../img/mobile/icon/mail.svg") center right no-repeat;
}

.handset__subscribe-input-tel {
  display: flex;
  width: 100%;
  height: 58px;
  padding-right: 58px;
  padding-left: 16px;
  margin-right: 0;
  margin-bottom: 16px;
  background: url("../img/mobile/icon/phone.svg") center right no-repeat;
}

@media (min-width: $tablet-width) {
  .handset__feedback {
    text-align: center;
    font-size: 21px;
    line-height: 1.24;
    margin-bottom: 28px;
  }

  .handset__feedback::after {
    display: none;
  }

  .handset__subscribe-input-tel {
    width: 100%;
  }

  .handset__subscribe-input-email {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .handset__subscribe-input-tel {
    width: 430px;
  }

  .handset__subscribe-input-email {
    width: 430px;
  }
}

@media (min-width: $desktop-width) {
  .handset__subscribe-input-tel {
    width: 430px;
  }

  .handset__subscribe-input-email {
    width: 430px;
  }

}
