.modal-success__hide--popup {
  display: none;
}

.modal-success__hide {
  min-width: 320px;
  min-height: 323px;
  position: fixed;
  top: 50%;
  margin: 0;
  padding: 0;
  background-color: $background-main;
  z-index: 6;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-success__title {
  font-size: 18px;
  line-height: 1.44;
  color: $color-title;
  margin: 39px 39px 25px 37px;
}

.modal-success__description {
  margin: 0 39px 52px 37px;
}

.modal-success__btn {
  min-width: 320px;
  min-height: 98px;
  background-color: $environment-background;
  color: $color-main;
  border: 20px solid #f2f2f2;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-success__btn:hover {
  background-color: #669ec0;
}

.modal-success__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.modal-success__btn:disabled {
  background-color: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .modal-success__btn {
    border-width: 44px 91px;
    width: 100%;
    height: 146px;
    font-size: 21px;
    line-height: 1.44;
  }

  .modal-success__hide {
    width: 640px;
    min-height: 347px;
  }

  .modal-success__title {
    font-size: 30px;
    line-height: 1.03;
    padding: 0 42px 0 42px;
    margin: 54px 47px 27px 46px;
  }
}
