.modal-failure__hide {
  display: none;
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 400px;
  min-height: 280px;
  max-height: 347px;
  position: fixed;
  background-color: $background-main;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-failure__title {
  font-size: 18px;
  line-height: 1.44;
  color: $color-title;
  margin: 45px 42px 37px 41px;
}

.modal-failure__description {
  margin: 40px 42px 24px 41px;
}

.modal-failure__btn {
  min-width: 180px;
  min-height: 58px;
  background-color: $environment-background;
  color: $color-main;
  border: none;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-failure__btn:hover {
  background-color: #669ec0;
}

.modal-failure__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.modal-failure__btn:disabled {
  background-color: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .modal-failure__hide {
    width: 400px;
    height: 347px;
  }

  .modal-failure__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 42px 0 42px;
    margin: 54px 47px 24px 46px;
  }

  .modal-failure__description {
    margin: 0 47px 47px 46px;
  }

  .modal-failure__btn {
    margin-bottom: 49px;
    padding: 13px 121px;
    font-size: 21px;
    line-height: 1.44;
  }
}
