.response__item {
  padding-bottom: 16px;
  padding-top: 20px;
  position: relative;
  display: block;
}

.response__list {
  padding: 0;
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .response__list {
    display: grid;
    min-width: 648px;
    grid-template-columns: 1fr 1fr;

    .response__item {
      margin-left: 36px;
    }

    .response__item:nth-child(2) {
      margin-left: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .response__list {
    width: 960px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 26px;
    margin-bottom: 48px;
  }

  .response__item:first-child {
    margin-left: 53px;
  }

  .response__item {
    margin-left: 28px;
  }

  .response__list .response__item:nth-child(2) {
    margin-left: 41px;
  }

  .response__list .response__item:last-child {
    margin-left: 29px;
  }

  .response__list .response__item {
    margin-left: 54px;
  }
}
