.response__item {
  padding-bottom: 16px;
  padding-top: 20px;
  position: relative;
  display: block;
}

.response__list {
  padding: 10px 0 15px 62px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .response__list {
    display: grid;
    row-gap: 36px;
    grid-template-columns: 1fr 1fr;
    padding-left: 98px;
    column-gap: 45px;
  }

  .response__item {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .response__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    padding-top: 26px;
    padding-bottom: 48px;
    padding-left: 115px;
  }
}
